<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="FibreContext0" connectionString="Data Source=tcp:192.168.138.188\SQLEXPRESS,2301;Initial Catalog=ProductOrderSystem;Persist Security Info=True;User ID=sa;Password=R@dtone168;" providerName="System.Data.SqlClient" />
  <add name="FibreContext" connectionString="Data Source=RnD-SiewWingFei;Initial Catalog=ProductOrderSystem;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>