<div ng-controller="EditSCCtrl" ng-init="init()">
    <form name="form" class="form-horizontal">
        <fieldset>
            <legend>Order</legend>

            <div class="control-group">
                <label class="control-label">Last Updated By</label>
                <div class="controls">
                    {{model.User}}&nbsp;{{model.LastUpdateDatetime | datefilter | date:'yyyy-MM-dd'}}&nbsp;{{model.LastUpdateDatetime | datefilter | date:'shortTime'}}
                </div>
            </div>

            <h4>Sales Person Information</h4>

            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <select id="SalesPersonID" name="SalesPersonID" class="input-block-level"
                            ng-model="model.SalesPersonID"
                            ng-required="true"
                            ui-select2
                            data-placeholder="Please select">
                        <option value="">Please select</option>
                        <option ng-repeat="o in model.SalesPersons" value="{{o.ID}}">{{o.Name}}</option>
                    </select>
                    <span class="label label-important" ng-show="form.SalesPersonID.$error.required">The Name field is required.</span>
                </div>
            </div>

            <h4>Order Information</h4>

            <div class="control-group">
                <label class="control-label">Order Type</label>
                <div class="controls">
                    <select id="OrderTypeID" name="OrderTypeID" class="input-block-level"
                            ng-model="model.OrderTypeID"
                            ng-change="changeOrderType()"
                            ng-required="true"
                            ng-disabled="true"
                            ui-select2
                            data-placeholder="Please select">
                        <option value="">Please select</option>
                        <option ng-repeat="o in model.OrderTypes" value="{{o.ID}}">{{o.Name}}</option>
                    </select>
                    <span class="label label-important" ng-show="form.OrderTypeID.$error.required">The Order Type field is required.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Status</label>
                <div class="controls">
                    {{model.StatusSC}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Received Date</label>
                <div class="controls">
                    <div class="control-group input-append">
                        <input id="ReceivedDate" name="ReceivedDate" type="text" class="input-medium"
                               ng-model="model.ReceivedDate"
                               ng-required="true"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="openedReceivedDate" />
                        <button type="button" class="btn" ng-click="openReceivedDate()"><i class="icon-calendar"></i></button>
                    </div>
                    <span class="label label-important" ng-show="form.ReceivedDate.$error.required">The Received Date field is required.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Received Time</label>
                <div class="controls">
                    <div class="control-group input-append">
                        <input id="ReceivedTime" name="ReceivedTime" type="text" class="input-medium"
                               ng-model="model.ReceivedTime"
                               ng-required="true"
                               bs-timepicker="" />
                        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
                    </div>
                    <span class="label label-important" ng-show="form.ReceivedTime.$error.required">The Received Time field is required.</span>
                </div>
            </div>

            <h4>Customer Information</h4>

            <div class="control-group">
                <label class="control-label">Customer Name</label>
                <div class="controls">
                    <input id="CustName" name="CustName" type="text" class="input-block-level"
                           placeholder="Customer Name"
                           x-webkit-speech="x-webkit-speech"
                           ng-model="model.CustName"
                           ng-required="true"
                           ng-maxlength="100" />
                    <span class="label label-important" ng-show="form.CustName.$error.required">The Customer Name field is required.</span>
                    <span class="label label-important" ng-show="form.CustName.$error.maxlength">The field Customer Name must be a string with a maximum length of 100.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Customer Address</label>
                <div class="controls">
                    <textarea id="CustAddr" name="CustAddr" class="input-block-level"
                              placeholder="Customer Address"
                              x-webkit-speech="x-webkit-speech"
                              ng-model="model.CustAddr"
                              ng-required="true"
                              ng-maxlength="200"></textarea>
                    <span class="label label-important" ng-show="form.CustAddr.$error.required">The Customer Address field is required.</span>
                    <span class="label label-important" ng-show="form.CustAddr.$error.maxlength">The field Customer Address must be a string with a maximum length of 200.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Customer ID</label>
                <div class="controls">
                    <input id="CustID" name="CustID" type="text" class="input-block-level"
                           placeholder="Customer ID"
                           x-webkit-speech="x-webkit-speech"
                           ng-model="model.CustID"
                           ng-maxlength="10" />
                    <span class="label label-important" ng-show="form.CustID.$error.maxlength">The field Name must be a string with a maximum length of 10.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Contact Person Name</label>
                <div class="controls">
                    <input id="ContactPerson" name="ContactPerson" type="text" class="input-block-level"
                           placeholder="Contact Person"
                           x-webkit-speech="x-webkit-speech"
                           ng-model="model.ContactPerson"
                           ng-required="true"
                           ng-maxlength="100" />
                    <span class="label label-important" ng-show="form.ContactPerson.$error.required">The Contact Person field is required.</span>
                    <span class="label label-important" ng-show="form.ContactPerson.$error.maxlength">The field Contact Person must be a string with a maximum length of 100.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Contact Person No.</label>
                <div class="controls">
                    <input id="ContactPersonNo" name="ContactPersonNo" type="text" class="input-block-level"
                           placeholder="Contact Person No."
                           x-webkit-speech="x-webkit-speech"
                           ng-model="model.ContactPersonNo"
                           ng-required="true"
                           ng-maxlength="50" />
                    <span class="label label-important" ng-show="form.ContactPersonNo.$error.required">The Contact Person No. field is required.</span>
                    <span class="label label-important" ng-show="form.ContactPersonNo.$error.maxlength">The field Contact Person No. must be a string with a maximum length of 50.</span>
                </div>
            </div>

            <h4 ng-hide="model.OrderTypeID == 4">New &amp; Variation Order Only</h4>

            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <label class="checkbox inline" ng-hide="hideIsCoverageAvailable">
                        <input id="IsCoverageAvailable" name="IsCoverageAvailable" type="checkbox"
                               ng-model="model.IsCoverageAvailable" /> Coverage Area Available
                    </label>
                    <label class="checkbox inline" ng-hide="hideIsDemandList">
                        <input id="IsDemandList" name="IsDemandList" type="checkbox"
                               ng-model="model.IsDemandList" /> Demand List
                    </label>
                    <label class="checkbox inline" ng-hide="hideIsReqFixedLine">
                        <input id="IsReqFixedLine" name="IsReqFixedLine" type="checkbox"
                               ng-model="model.IsReqFixedLine" /> Request Fixed Line
                    </label>
                    <label class="checkbox inline" ng-hide="hideIsCeoApproved">
                        <input id="IsCeoApproved" name="IsCeoApproved" type="checkbox"
                               ng-model="model.IsCeoApproved" /> CEO Approved
                    </label>
                    <label class="checkbox inline" ng-hide="hideIsWithdrawFixedLineReq">
                        <input id="IsWithdrawFixedLineReq" name="IsWithdrawFixedLineReq" type="checkbox"
                               ng-model="model.IsWithdrawFixedLineReq" /> Withdraw Fixed Line Request
                    </label>
                    <label class="checkbox inline" ng-hide="hideIsServiceUpgrade">
                        <input id="IsServiceUpgrade" name="IsServiceUpgrade" type="checkbox"
                               ng-model="model.IsServiceUpgrade" /> Service Upgrade
                    </label>
                </div>
            </div>
            <div class="control-group" ng-hide="hideReasonWithdraw">
                <label class="control-label">Reason For Withdrawal</label>
                <div class="controls">
                    <textarea id="ReasonWithdraw" name="ReasonWithdraw" class="input-block-level"
                              placeholder="Reason For Withdrawal"
                              x-webkit-speech="x-webkit-speech"
                              ng-model="model.ReasonWithdraw"></textarea>
                </div>
            </div>

            <h4>Installation / Removal</h4>

            <div class="control-group">
                <label class="control-label">KIV</label>
                <div class="controls">
                    <input id="IsKIV" name="IsKIV" type="checkbox"
                           ng-model="model.IsKIV" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Booked Installation / Removal Date</label>
                <div class="controls">
                    <div class="control-group input-append">
                        <input id="BookedInstallDate" name="BookedInstallDate" type="text" class="input-medium"
                               ng-model="model.BookedInstallDate"
                               datepicker-popup="yyyy-MM-dd"
                               is-open="openedBookedInstallDate" />
                        <button type="button" class="btn" ng-click="openBookedInstallDate()"><i class="icon-calendar"></i></button>
                    </div>
                    <span class="label label-important" ng-hide="isValidInstallDate()">Please select Monday to Friday only.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Booked Installation / Removal Time</label>
                <div class="controls">
                    <div class="control-group input-append">
                        <input id="BookedInstallTime" name="BookedInstallTime" type="text" class="input-medium"
                               ng-model="model.BookedInstallTime"
                               bs-timepicker="" />
                        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
                    </div>
                    <span class="label label-important" ng-hide="isValidInstallTime()">Please select 9 AM to 5 PM only.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">BTU Installed</label>
                <div class="controls">
                    <input id="IsBTUInstalled" name="IsBTUInstalled" type="checkbox"
                           ng-model="model.IsBTUInstalled" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Comments</label>
                <div class="controls">
                    <textarea id="Comments" name="Comments" class="input-block-level"
                              placeholder="Comments"
                              x-webkit-speech="x-webkit-speech"
                              ng-model="model.Comments"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Documents</label>
                <div class="controls" ng-hide="!fileLinks.length">
                    <table class="table table-striped table-hover table-condensed">
                        <tr ng-repeat="file in fileLinks">
                            <td><a href="{{file.url}}" target="_blank">{{file.filename}}</a></td>
                            <td><button type="button" class="close" ng-click="deleteFile(file)" tooltip="Delete file" tooltip-trigger="mouseenter" tooltip-placement="bottom">&times;</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Select File</label>
                <div class="controls">
                    <span class="btn btn-success fileinput-button">
                        <i class="icon-folder-open icon-white"></i>
                        <input type="file" name="file" id="fileupload" multiple upload="uploadOption" />
                        <span>Add files ...</span>
                    </span>
                    <div id="dropzone" class="fade well">Drop files here</div>
                    <div>
                        <span ng-show="!files.length">No files selected</span>
                        <ul class="nav nav-list">
                            <li ng-repeat="file in files">
                                {{file}}
                                <button type="button" class="close" ng-click="removeFile(file)">&times;</button>
                            </li>
                        </ul>
                    </div>
                    <div class="progress" ng-show="percentage">
                        <div class="bar" style="width: {{percentage}}%;"></div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary pull-left" ng-click="upload()" ng-disabled="!files.length"><i class="icon-upload icon-white"></i> Upload</button>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn btn-primary" ng-click="save()"><i class="icon-ok icon-white"></i> Save</button>
                    <button type="button" class="btn btn-warning" ng-click="withdraw()" ng-disabled="model.StatusSC == 'Withdrawn' && model.OrderTypeID == 5"><i></i> Withdraw</button>
                    <button type="button" class="btn btn-default" ng-click="cancelEdit()"><i class="icon-ban-circle"></i> Cancel</button>
                </div>
            </div>

            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <a ng-click="isCollapsedCC = !isCollapsedCC">Credit Control <i ng-class="getCollapseCss(isCollapsedCC)"></i></a>
                </li>
            </ul>
            <div collapse="isCollapsedCC">
                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        {{model.StatusCC}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reason for Rejection</label>
                    <div class="controls">
                        {{model.ReasonRejectCC}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Remarks</label>
                    <div class="controls">
                        {{model.RemarksCC}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Updated By</label>
                    <div class="controls">
                        {{model.CCUser}}&nbsp;{{model.LastUpdateDatetimeCC | datefilter | date:'yyyy-MM-dd'}}&nbsp;{{model.LastUpdateDatetimeCC | datefilter | date:'shortTime'}}
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <a ng-click="isCollapsedFL = !isCollapsedFL">Fixed Line <i ng-class="getCollapseCss(isCollapsedFL)"></i></a>
                </li>
            </ul>
            <div collapse="isCollapsedFL">
                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        {{model.StatusFL}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reason for Rejection</label>
                    <div class="controls">
                        {{model.ReasonRejectFL}}
                    </div>
                </div>
                <div class="control-group" ng-hide="hideAllocatedFixedLineNo">
                    <label class="control-label">Allocated Fixed Line Number</label>
                    <div class="controls">
                        {{model.AllocatedFixedLineNo}}
                    </div>
                </div>
                <div class="control-group" ng-hide="hideRemarksFL">
                    <label class="control-label">Remarks</label>
                    <div class="controls">
                        {{model.RemarksFL}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Updated By</label>
                    <div class="controls">
                        {{model.FLUser}}&nbsp;{{model.LastUpdateDatetimeFL | datefilter | date:'yyyy-MM-dd'}}&nbsp;{{model.LastUpdateDatetimeFL | datefilter | date:'shortTime'}}
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <a ng-click="isCollapsedAC = !isCollapsedAC">Account Creation <i ng-class="getCollapseCss(isCollapsedAC)"></i></a>
                </li>
            </ul>
            <div collapse="isCollapsedAC">
                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        {{model.StatusAC}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reason for Rejection</label>
                    <div class="controls">
                        {{model.ReasonRejectAC}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Remarks</label>
                    <div class="controls">
                        {{model.RemarksAC}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Form Received</label>
                    <div class="controls">
                        <i ng-class="getYesNoIcon(model.IsFormReceived)"></i>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Updated By</label>
                    <div class="controls">
                        {{model.ACUser}}&nbsp;{{model.LastUpdateDatetimeAC | datefilter | date:'yyyy-MM-dd'}}&nbsp;{{model.LastUpdateDatetimeAC | datefilter | date:'shortTime'}}
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <a ng-click="isCollapsedInstall = !isCollapsedInstall">Installation <i ng-class="getCollapseCss(isCollapsedInstall)"></i></a>
                </li>
            </ul>
            <div collapse="isCollapsedInstall">
                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        {{model.StatusInstall}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reason for Rejection</label>
                    <div class="controls">
                        {{model.ReasonRejectInstall}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Installation Date</label>
                    <div class="controls">
                        {{model.InstallDate | datefilter | date:'yyyy-MM-dd'}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Installation Time</label>
                    <div class="controls">
                        {{model.InstallTime | datefilter | date:'shortTime'}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">BTU ID</label>
                    <div class="controls">
                        {{model.BTUID}}
                    </div>
                </div>
                <div class="control-group" ng-hide="hideBTUInstalled">
                    <label class="control-label">BTU Installed?</label>
                    <div class="controls">
                        {{model.BTUInstalled}}
                    </div>
                </div>
                <div class="control-group" ng-hide="hideSIPPort">
                    <label class="control-label">SIP Port</label>
                    <div class="controls">
                        {{model.SIPPort}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Updated By</label>
                    <div class="controls">
                        {{model.InstallUser}}&nbsp;{{model.LastUpdateDatetimeInstall | datefilter | date:'yyyy-MM-dd'}}&nbsp;{{model.LastUpdateDatetimeInstall | datefilter | date:'shortTime'}}
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="~/Areas/Fibre/js/order/editsc.js"></script>